*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

nav{
    background-color: rgb(0, 132, 253);
    max-width: 100%;
}
/* NAV */
 .container-small{
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 1rem; 
    padding: 2rem;
}

.container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cont-img{
    padding-top: .7rem;
}

.color-text{
 color: white;
 list-style: none;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.click:hover{
    background-color: lightgray;
}

.button-nav{
    border-radius: 2rem;
    height: 30px;
    width: 100px;
    border: none;
}

.bars{
    display: none;
}
/* HEADER */

 .squares{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    
}

.square-big{
    margin: .5rem;
    padding-inline:50px;
    display: flex;
    flex-basis: calc(66.666% - 1rem);
    background-color: rgb(181, 221, 255);
    border-radius: 1rem;
}

.square{
    margin: .5rem;
    text-align: center;
    padding: 25px;
    border-radius: 1rem;
    flex: calc(33.333% - 1rem);
    background-color: rgb(181, 221, 255);
}

.content1{
    max-width: 60%;
    padding-inline: 2rem;
}

.title{
    color: rgb(0, 132, 253);
   margin: 1rem;
}

.paragraf, .button-header{
    margin: 1rem;
    
}
.button-header{
    background-color: rgb(0, 132, 253);
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 1rem;
    border: none;
}

.img-header{
    height: 300px;
}


.size-icon{
    margin-top: 10px;
   height: 80px; 
}

.title2{
   color: rgb(0, 132, 253);
}

.content2{
    margin-left: 20px;
}

/* Main */
.background{
    background-color: rgb(151, 146, 228);
   
} 

.container-flex2{
    display: flex;
}

.img-size{
  height: 300px;
}

.cont-text2{
    color: white;
    margin-top: 5rem;
}

.container-img-app{
   margin: 4rem;
    margin-left: 2rem;
    border-radius: 1rem;
    
     background-color: white;
}

.space{
    padding: 2rem;
}

.color {
    color: black;
}

.partners{
    margin: auto;
    text-align: center;
    padding: 2rem;
}

.introduction-partners{
    text-align: center;
}

.color-title{
    color: rgb(151, 146, 228);
    padding-top: 2rem;
}

.paragraf-partners{
    padding-top: 2rem;
}

.img-size2 {
  padding: 1rem;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container-partners{
    display: flex;
    align-items: center;
    background-color: rgb(151, 146, 228);
    border-radius: 1rem;
    margin-top: 2rem;
}

.title-benefits{
    color: white;
    text-align: center;
    padding: 2rem;
}

.distance{
    margin-top: 4rem;
}

.container-flex3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8rem;

}

.square-benefits{
    flex-basis: calc(33% - 1.6rem / 3);
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.number{
    font-size: 3rem;

}

.title2-benefits, .number, .title-about, .text-img{
    color: rgb(151, 146, 228);
}

.button-benefits{
    margin-top: 2rem;
    background-color: rgb(151, 146, 228);
    color: white;
    height:30px;
    width: 100px;
   border: none;
   border-radius: 1.5rem;
}
.container-flex4{
    display: flex;
}

.cont-img-about{
    margin-left: 2rem;
}

.about{
    width: 200px;
}

.container-smaller{
    max-width: 600px;
    margin-inline: auto;
    padding-inline: 1rem; 
}

.cont-starter{
    text-align: center;
}

.font, .color-paragraf, a{
    color: white;
}

.font-and-color{
    font-size: 5rem;
    color: rgb(244, 189, 106);
}

.big-button{
    height: 60px;
    width: 250px;
    border-radius: 2rem;
    border: none;
    font-size: 1.5rem;
    color: rgb(151, 146, 228);
}

.background-back{
    background-color: rgb(51, 51, 51);
}

.boolean{
    color: rgb(151, 146, 228);
}

/*******RESPONSIVE *******/

@media screen and (max-width: 768px) {
    .container-small{
        max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem; 
    padding: 2rem;
    }
    
    .cont-text{
        display: none;
    }
    .bars{
        display: block;
        color: white;
    }

    .container-flex2{
        flex-direction: column;
    }

    .img-size{
        margin-left: 10rem;
    }

    .container-flex3{
        justify-content: center;
    }
}



@media screen and (max-width:480px) {
    .container-small{
 

        padding-inline: 0.5rem; 
        padding: 2rem;
    }
    .container-flex4{
        flex-direction: column;
        justify-content: center;
    }

    .square-big{
        margin-left: -4rem;
    }

    .img-size{
        margin-left: 2rem;
    }

    nav{
        width: 551px;
    }

    .background{
        width: 551px;
    }

    .background-back{
        width: 551px;
    }

    .container-partners{
        margin-left: 2rem;
    }
}

   

   






















